.product {
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  overflow: hidden;
}

.productImage {
  height: 227px;
  object-fit: cover;
}

.productContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 19px;
}

.productName {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
}

.productDescription {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #CFCFCF;
}

.productTypes {
  display: flex;
  gap: 10px;
}
.productType {
  cursor: pointer;
  background: #44403F;
  border-radius: 10px;
  padding: 10px;
}
.productTypeActive {
  background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
}

.productSizes {
  display: flex;
  gap: 10px;
}

.productBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.productCart {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(97, 137, 103, 1);
  border-radius: 10px;
  padding: 13px 19px;
  transition: all 0.3s ease-out 0s;
  &:hover {
    background: rgba(97, 137, 103, 0.5);
  }
  svg {
    font-size: 22px;
  }
}