.wrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 12px;
  left: 10px;
  opacity: 0.3;
}

.searchInput {
  background: #504B4A;
  border-radius: 10px;
  padding: 15px 40px;
}

.clearIcon {
  opacity: 0.3;
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

input {
  color: #CFCFCF;
  width: 100%;
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}