.wrapper {
  position: relative;
}

.searchInput {
  background: #504B4A;
  border-radius: 10px;
  padding: 15px 48px;
}

.clearIcon {
  width: 30px;
  height: 30px;
  opacity: 0.3;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}