.productsBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 50px 0;
}

.productsTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  padding-left: 30px;
  margin-top: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 33px;
    height: 4px;
    left: 0px;
    top: 16px;

    background: #618967;
    transform: rotate(90deg);
  }
}

.productsError {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 0;
  margin: 50px 0;
  text-align: center;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  border-radius: 10px;
  p {
    max-width: 400px;
    line-height: 1.2em;
  }
}

.productsErrorTitle {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #72A479;
  svg {
    font-size: 40px;
  }
}